################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/src/.vs
/src/ConfigHelper/.vs
/src/ConfigHelper/bin/
/src/ConfigHelper/obj/
/**/*.user